body {
  overflow-x:hidden;
}

.NavListItems {
  position: absolute;
  z-index: 1;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: Barlow;
  top: 2%;
  right: 1%;
  
  

}

.NavListItems li {
  font-size: 18px;
  list-style-type: none; 
  display: flex;
  padding: 0 15px 0 25px;
  
}

.ContactButton button{
  font-family: Fraunces;
  border-radius: 50px;
  margin-top: -10px;
  height: 50px;
  width: 130px;
  border: none;
  text-transform: uppercase;
  
  font-size: 15px;
  color: hsl(212, 27%, 19%);
  background-color: white;
  
}

.MobileNavigation {
  display: none;
} 

@media (max-width: 769px) {


  .MobileNavigation{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100vw;
    text-align: center;
    
  }

  .Navigation{
    display: none;
    
  }

  .MobileNavigation .Hamburger {
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 22px;
  }

  .NavListItems {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background-color: white;
    color: hsl(232, 10%, 55%);
    width: 230px;
    height: 290px;
    transform: translate(-50%, 40%);
    padding-right: 40px;
  text-align: center;
  }

  .NavListItems li {
    font-size: 18px;
    display: inline-block;
    padding: 45px;
    margin-top: -60px;
  }

  .ContactButton button{
    background-color: hsl(51, 100%, 49%);
    font-family: Fraunces;
    width: 130px;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: -20px;
  }

  .Triangle {
    width: 30px;
    height: 30px;
    background-image:
    linear-gradient(to bottom right, transparent 50%, white 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    position: absolute;
    left: 280px;
    top: -30px;
  }
}
