body {
  overflow-x:hidden;
}

.NavLinks {
  position: absolute;
  z-index: 1;
  width: 100vw;
  
}

.NavListItems {
  color: white;
  display: flex;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Barlow;
  padding-right: 40px;
  text-align: center;
  

}

.NavListItems li {
  
  font-size: 18px;
  list-style-type: none; 
  display: flex;
  padding: 0 15px 0 25px;
  margin-top: -60px;
  
  
  
}

.Logo {
  font-family: Barlow;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  
}
.ContactButton button{
  font-family: Fraunces;
  border-radius: 50px;
  margin-top: -10px;
  height: 50px;
  width: 130px;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  color: hsl(212, 27%, 19%);
  background-color: white;
  
  
  
}
.Header .MobileNavigation {
  display: none;
  
  
}

@media (max-width: 769px) {


  .Header .MobileNavigation{
    display: flex;
    justify-content: center;
    
  }

  .Header .Navigation{
    display: none;
  }

  .Header .MobileNavigation .Hamburger {
    position: absolute;
    right: 3%;
    cursor: pointer;
    top: 22px;
  }

  .NavListItems {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background-color: white;
    color: hsl(232, 10%, 55%);
    top: 100px;
    float: left;
    width: 300px;
    height: 300px;
    right: 3%;
    

  }

  .NavListItems li {
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    
  }


  
  .NavListItems .ContactButton {
    background-color: hsl(51, 100%, 49%);
    font-family: Fraunces;
    height: 25px;
    width: 100px;
    font-size: 15px;
    margin-left: 25%;

  }
}
