
.Egg {
  width: 50vw;
  height: auto;
  
}

.TextEgg {
  width: 50vw;
  height: auto;
  
}

.TitleEgg {
  font-family: Fraunces;
  color: hsl(212, 27%, 19%);
  font-size: 35px;
  padding: 20% 15% 0 20%;
  
}

.ParagraphEgg {
  font-family: Barlow;
  color: hsl(210, 4%, 67%);
  font-size: 15px;
  line-height: 30px;
  padding: 0 15% 0 20%;
}

.ButtonEgg {
  font-family: Fraunces;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 21%;
}


.FigureEgg {
  position: center;
  border-bottom: 8px solid hsl(51, 100%, 49%, .3);
  line-height: 6px;
  margin-left: 19%;
  border-radius: 5px;
  width: 121px;
  margin-top: -7px;
  

}

.Cup {
  width: 50vw;
  height: auto;
  
  
}

.TextCup {
  width: 50vw;
  height: auto;
  text-align: left;
}

.TitleCup{
  font-family: Fraunces;
  color: hsl(212, 27%, 19%);
  font-size: 35px;
  padding: 20% 15% 0 20%;
}

.ParagraphCup {
  font-family: Barlow;
  color: hsl(210, 4%, 67%);
  font-size: 15px;
  line-height: 30px;
  padding: 0 15% 0 20%;
}


.ButtonCup {
  font-family: Fraunces;
  text-transform: uppercase;
  display: inline-flex;
  font-size: 15px;
  margin-left: 21%;
}

.FigureCup {
  position: center;
  border-bottom: 8px solid hsl(7, 99%, 70%, .3);
  line-height: 6px;
  margin-left: 19%;
  border-radius: 5px;
  width: 121px;
  margin-top: -7px;


}

.Fruit {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.Orange {
  width: 50vw;
  height: auto;
  z-index: -1;
  position: relative;
  
}

.FigureOrange {
  position: relative;
  text-align: center;
}



.FigcaptionOrange {
  position: absolute;
  z-index: 1;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%)

}
.TitleOrange {
  font-family: Fraunces;
  font-size: 30px;
  color: hsl(198, 62%, 26%);
  

}

.ParagraphOrange {
  font-family: Barlow;
  font-size: 15px;
  color: hsl(198, 62%, 26%);
  line-height: 30px;


}


.Cherry {
  width: 50vw;
  height: auto;
  z-index: -1;
  position: relative;

  
}

.FigureCherry {
  position: relative;
  text-align: center;
}


.FigcaptionCherry {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%)
  
  
}
.TitleCherry {
  font-family: Fraunces;
  font-size: 30px;
  color: hsl(167, 40%, 24%);

}
  
.ParagraphCherry {
  font-family: Barlow;
  font-size: 15px;
  color: hsl(167, 40%, 24%);
  line-height: 30px;
  
}

  @media (max-width: 860px) {


    .EggSection {
      flex-direction: column-reverse;
    align-items: center;
    }
    
    .Fruit {
      display: flex;
      flex-direction: column-reverse;
     
    }

    .Cherry {
      width: 100vw;

    }

    .Orange {
      width: 100vw;
      
    }
  }